<mat-toolbar color="primary">
  <div class="header-container">
    <a routerLink="/main" class="logo">NormaPro</a>
    <nav class="nav-links desktop">
      <a *ngFor="let item of menuItems" 
         [routerLink]="item.route" 
         routerLinkActive="active"
         mat-button>{{item.label}}</a>
    </nav>
    <button mat-icon-button class="mobile-menu-toggle" (click)="toggleMobileMenu()">
      <mat-icon>{{isMobileMenuOpen ? 'close' : 'menu'}}</mat-icon>
    </button>
    <div class="user-menu">
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu" class="user-menu-content">
        <button mat-menu-item routerLink="/profile">Профиль</button>
        <button mat-menu-item routerLink="/settings">Настройки</button>
        <button mat-menu-item>Выйти</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container class="mobile-menu" *ngIf="isMobileMenuOpen">
  <mat-sidenav mode="over" [(opened)]="isMobileMenuOpen">
    <nav class="nav-links mobile">
      <a *ngFor="let item of menuItems" 
         [routerLink]="item.route" 
         routerLinkActive="active"
         mat-button
         (click)="toggleMobileMenu()">{{item.label}}</a>
    </nav>
  </mat-sidenav>
</mat-sidenav-container>